.bg-div{
    background-image: url(../../assets/car6.png);
    background-size: cover;
  background-position: center;
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  /* object-fit: contain; */

}
.mdivContainer{
  margin-left: 6.7%;  
  margin-right: 6%;  
}
.p-bg{
font-weight: 530;
font-size: 35px;
}
.inputName{
  width: 75%;
    height: 9vh;
    border-radius: 10px;
    border: none;
}
.motorsearch{
  position: absolute;
    font-size: 27px;
right: 19%;
top: 50.7%;
border-radius: 7px;
background-color: #e00000;
color: #fff;
border: none;
cursor: pointer;
font-size: 13px;
padding: 0.9%;
}
.categorydiv{
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.popular-1{
font-size: 27px;
font-weight: 600;
padding-top: 1.4%;
}

/* single category styling */
.scomp3p{
    text-decoration: none;
}
.scomp3p:hover{
  box-shadow:5px 1px 6px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: 1s;
    border-radius: 7px;
}
.mcategoryimg{
  width: 353px;
  height: 40vh;
  border-radius: 7px;
  object-fit: cover;
} 
.red{
    color: #E00000;
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
}
.type{
    color: #000000;
    font-size: 17px;
    margin-top: -20px;
}
.address{
    color: #000000;
    opacity: 83%;
    padding-bottom: 3%;
    margin-top: -14px;
}
.mb-view{
  visibility: hidden;
  position: absolute;
}
@media screen and (max-width: 940px) {
  .bg-div{
    margin-top: 40%;
  }
  .motorsearch{
    margin-top: 33.3%;
    height: 7vh;
  }
  .p-bg{
    font-size: 18px;
  }
  .popular-1{
    font-size: 19px;
  }
  .mcategoryimg{
  width: 570px!important;
  height: 70vh!important; 
} 
.mb-view{
  visibility: visible;
  margin-left: 35%;
}
.categorydiv {
         display: inline-block;
          margin-right: 10%;    
          line-height: 43px!important;
          /* width: calc(33.333% - 2%);
          display:flex;
          flex-direction: row; */
    }
    /* .scomp3p {
        width: calc(33.333% - 2%);
    } */
}

@media screen and (max-width: 600px) {
.bg-div{
  height: 10vh;
  margin-top: 60%;
}
 .p-bg{
  font-size: 11.6px;
  margin-top: 3%;
  /* color: #000000; */
 }
 .inputName{
  width: 70%;
    height: 2.5vh;
    margin-top: -10px;
 }
 .motorsearch{
  top:31.5%;
  height: 2vh;
  font-size: 7px;
  border-radius: 3px;
  left: 18.5rem;
  width: 30px;
 }
 .mcategoryimg{
  height: 19vh!important;
  width: 300px!important;
 }
 .categorydiv{
  line-height: 23px!important;
 }
 .mb-view{
  margin-top: -18%;
  margin-left: 10%;
}
}